.icon{
    color:rgb(244, 146, 8);
}
.background{
    background: rgb(142,112,185);
background: linear-gradient(90deg, rgba(142,112,185,1) 0%, rgba(103,30,222,0.8300362381280637) 100%);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  align-items: center;
  text-align: center;
}
.quote::before{
  content: '\201C';
  font-size:40px;
  font-family: sans-serif;
  color: rgb(161, 80, 237);
  position: relative;
  top:10px;
}
.quote::after{
  content: '\201D';
  font-size:40px;
  font-family: sans-serif;
  color: rgb(161, 80, 237);
  position: relative;
  top:13px;
}
.quote{
  line-height: 20px;
}

 @media screen and (min-width: 320px) {
  .swiperSlide h1 {
  text-align: center;
}
}
 @media screen and (min-width: 640px) {
  .swiperSlide h1 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

@media screen and (min-width: 768px) {
  .swiperSlide h1 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
} 
