
html,
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    /* background-image: linear-gradient(90deg, rgb(226, 246, 254) 30%, rgb(249, 236, 248) 100% ) */
}